.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url('/mnt/Study/3-1 courses/Database/Project/Database_CSE334/frontend/public/login.jpg'); /* Replace with the actual path to your image */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ff7f50; /* Fallback background color in case the image doesn't load */
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput{
  height: 30px;
  padding: 10px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}